/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

* {
	font-family: monospace;
	border: 1px solid red
}
/* @font-face {
	font-family: font;
	src: url(NeusaBlack.woff);
	font-weight: bold;
  } 
*/

nav {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

img {
    height: 20em;
}

h1 img {
	display: flex;
	order: 0;
	height: 3em;
}