/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaBlack.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaExtraBold") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaBold.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaDemiBold.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaMedium.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaRegular.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaLight.woff") format("woff");
  font-weight: 100;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--main-color: #e4002b;
  --color-text: #111;
  --color-background: #ffff;
  --font-primary: 'Neusa', sans-serif;
}

/****************/
/* JOUW STYLING */
/****************/

* {
  margin: 0;
  padding: 0;
}


/* navigatiebalk  */

header .logo  {
  display: flex;
  position: absolute;
  width: 20vw;
  transition: 300ms;
  z-index: 2;


}

nav {
  display: flex;
  right: 0;
  flex-direction: row;
  position: fixed;
  background-color: var(--color-background);
  border: 1px solid var(--main-color);
}

nav button {
  display:flex;
  align-items:center;
  gap:.5em;
  padding: 0;
  background-color: white;
  border:none;
  position:relative;
  z-index:100;
}

nav button img {
  border: 1px solid var(--main-color);
  height:3em;
}

/* menu dat openklapt in mobiele versie */
nav ul { 
  display:flex;
  margin:0; 
  padding:5em 1em 1em 1em;
  text-decoration:none;
  flex-wrap: wrap;
  align-content:start;
  gap: 0.5em;
  background:var(--color-background);
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  justify-content: flex-end;
 translate: 0% 100%;
transition:translate 0.5s;
list-style: none;
}

nav ul a:hover {
  text-decoration: underline;

}

/* als menu open is */
.toonMenu ul {
  translate:0% ;
  text-transform: uppercase;
  font-weight: 500;
  font-size: x-large;
  background-color: white;
  border: none;
}

.toonMenu a {
font-size: larger;
background-color: white;
display: block;
padding: .5em;
text-align: left;
border: none;
color: var(--color-text);
font-family: var(--font-primary)
}

.toonMenu a.active {
background-color: white;
border: none;
margin: 0;
color: var(--main-color);
font-family: var(--font-primary)
}

.toonmenu div.containernav {
  display: block;
}

nav li {
  flex-basis: 20em;
  flex-grow:1;
}


nav a {
  display:flex;
  justify-content:center;
  align-items:center;
  padding: .5em;
  margin-top: .2em;
  text-decoration: none;
  list-style-type: none;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-family: sans-serif;
  font-size: smaller;


}

nav a img {
  width:auto;
  height:2.2em;
  padding: 0;
  margin: 0;
}

.containernav {
  display: flex;
  float: left;
}

.containernav a {
  border: 0.5px solid var(--main-color);
  padding: 0;
  height: 2.2em;
  background-color: white;

}

nav a.active {
  margin: .2em;
  font-weight:bold;
background-color: var(--main-color); 
color: white;

/* text-transform: uppercase;
  font-size: 2em; ?????? */

}

@media (min-width:54em) {


  nav {
    order:0;  
  }
  
  nav button {
    display:none;
  }
  
  nav ul {
    position:static;
    translate:unset;
    padding:0;
    background:none;
  }
  
  nav li {
    flex-basis:unset;
    flex-grow:unset;
  }
  
  nav a {
    flex-direction:column;
    border:none;
  }
  
  header > a:last-of-type {
    flex-direction:column;
  }
}
  

/* begin body */

.main {
  
  background-image: url('/images/thumbnail.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}


  @media (min-width: 742px) {
    .main {
      background-image: url('/images/thumbnaildesktopsize.jpg');
      background-size: cover;
      background-position: center;
      
    }
  }

.main article {
  position:absolute;
  left:50%;
  top:50%;
  translate:-50% -50%;
  padding: 1em 5em 1em 1em;
  background-color:var(--color-background);
  border: 1px solid var(--main-color);

}

/* buttons van thumbnail */

h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 400;
  font-size: medium;
  padding-bottom: 1em;
  text-align: start;
  border-bottom: 2px solid blue;
}

button{
  font-family: sans-serif;
  color: var(--color-background);
  background-color: transparent;
  padding: 1em 2em;
  border: none;
  border: 1px solid var(--main-color);
  position: relative;
}

button::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  z-index: -1;
  transition: .5s;
  animation-duration:.5s;
}

/* https://www.cssportal.com/css-clip-path-generator/ */


/* Quinten -- oud student assisten -- heef tgeholpen en is het niet eens met jou keuzes, een div in een UL mag nooit sukkel! */
@keyframes buttonAnimation {
  0% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(100% 1%, 100% 0%, 100% 100%, 100% 100%);
  }
}
button:hover{
  color: var(--main-color);
  animation-delay: .3s;
}
button:hover:before{
  animation-name: buttonAnimation;
  animation-fill-mode: forwards;

  animation-duration:.5s;

}



/* body */
body {
  font-family: var(--font-primary);

  border: 1px solid red;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: 400;
  z-index: 0;
}

/* twee sections met artikelen */


 section:nth-of-type(2), section:nth-of-type(4) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); 
  gap: 1em; 
  padding: 2em; 
}

.products article {
  position: relative; 
  z-index: -1;
}

.products h3 {
  font-weight: 500;
  font-size: x-large;
  display: inline-block;
  border: 1px solid var(--main-color); 
  padding: 0.5em;
  color: var(--main-color);
}

.products img {
  border: 1px solid var(--main-color); 
  width: 100%; 
} 



/* tussenstuk vrouw met tas */



.tas {
  background-image: url('/images/person.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.blokje {
  background-color: var(--color-background);
  padding: 0em;
  display: flex;
  flex-direction: row;
  gap: 10em;
  align-items: center;
  border: 2px solid var(--main-color);
}

.blokje h3 {
  font-size: large;
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--main-color);
  padding: .5em;

}

.blokje button {
  background-color: var(--color-background);
  border-left: 3px solid var(--main-color); 
  padding: 1.5em 2em;

}

/* carousel deel */

 
.highlights {
  background-color: var(--main-color);
}

.highlights h2 {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  color: var(--color-background);
font-size: xx-large;
font-weight: 500;
}


.carouseldiv{
  display: flex;
  padding: 3em;
  display: flex;
  overflow-x: scroll; 
  gap: 2em;
}

.highlights article {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;

}

.highlights article h3 {
  text-decoration: underline;
  color: var(--main-color);
  background-color: var(--color-background); 
  padding: .5em;
  font-weight: 500;
  border: 1px solid var(--main-color);
  text-decoration: underline;
}

.highlights img {
  height: 20em;
  width: auto;
}


/* laatste section  */

.info {

  font-family: sans-serif;
  font-size: x-small;
  margin-top: 2em;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.info article {
  background-color: white;
  margin: 1em;
  padding: 2em;
  color: var(--main-color);
  font-weight: 400;
  flex-direction: column;
  display: flex;
  min-width: 25%;
}

h4 {
  font-size: x-large;
  font-weight: 500;
}

.info img {
  
  max-width: 25em;
  height: auto;
}


@media (max-width: 54em) {

  .info {
    grid-template-columns: 1fr;
  }

  .info img {
    display: none;
  }

} 

/* Formulier styling */
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form label {
  font-size: small;
}

form input[type="email"] {
  padding: 0.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: small;
}

fieldset {
  display: flex;
  border: none;
  flex-direction: row;
  justify-content: space-between; /* Of 'flex-start' om de knoppen dichterbij elkaar te plaatsen */
  gap: 1em; /* Optioneel: ruimte tussen de radio buttons */
}

label {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

input[type="radio"] {
  margin-right: 0.5em;
}


/* gaat over die knop op het plaatje  */
.image-container {
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container button {
background-color: var(--color-background); 
 width: 100%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  font-size: small;
  transition: opacity 0.3s ease;
}

.image-container button:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
/* footer */


.footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  
  list-style: none;
  padding: 0;
}

@media (max-width: 54em) {

  .footer-menu {
    grid-template-columns: 1fr;
  }

  }

.details ul {
  list-style: none
}

.details ul a {
  margin-bottom: 1em;
  display: block; 
  font-size: small;
  padding: .8em 2em .2em; 
  text-decoration: none;
  color: var(--main-color);
  font-family: sans-serif;
  background-color: var(--color-background);
  list-style: none;
}

summary {
border: .2px solid var(--main-color);
  list-style: none;
width: 100%; 
padding: 1.5em;
color: var(--main-color);
text-transform: uppercase;
font-family: sans-serif;
font-weight: 500;

}

.dropdown-trigger {
width: 100%; 
padding: 1.5em;
color: var(--main-color);
text-transform: uppercase;
font-family: sans-serif;
font-weight: 500;
}


/* onderste deel footer */
svg {
  width: 2em;
  height: 2em;
  margin: 1.6em;
}

.icons, .icons:nth-of-type(3) {
  display: block;
  text-align: center;
  border: 1px solid var(--main-color);
}


.gay article:nth-of-type(2) {
  display: grid;
  padding: 2em;
  margin: 0;
  border: 1px solid var(--main-color);
  gap: 2em;
  text-align: center;}



  /* mega menu */

  ul:hover div.meganav {
    display: grid;
    grid-template-columns: 6fr 2fr; 
    gap: 2em;
    max-height: 60vh; 
  }
  
  .meganav {
    grid-template-columns: 4fr 2fr; 

    font-family: sans-serif;
    display: none; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 2em;
    max-height: 60vh; 
  }
  
  .first-section {
    font-size: small;
    margin-left: 2em;
    gap: 2em;
    margin-top: 10em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .first-section h3, 
  .second-section article h4 {
    font-weight: 600;    
  }
  
  .second-section h3 {
    grid-column: span 2;
    margin-top: 5em;
    text-align: center;
  }
  
  .second-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr);  
    gap: 1em;
  }
  
  .second-section img {
    width: 5em;
    height: auto;
  }

  /* dit gaat over die chat button die op het scherm hoverd */

  .floating-image {
    position: fixed;
    bottom: 1em; 
    right: 1em; 
    width: 10em; 
    height: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
    z-index: 100;
    opacity: .8; 
  }
  
  .floating-image:hover {
    opacity: 1; 
  }
  
/* nog laatste deel footer */

.taal {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);

}
.taal p {
  flex-direction: column;
 padding: 2em 10em 2em;
    border-left:1px solid #e4002b;}

.copyright {
  padding: 2em;
}

  /* vanaf hier detail pagina*/

.beltcarousel {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}
.carousel {
  display: flex;
}

.beltcarousel img {
  height: 60vw;
  width: auto;
  object-fit: cover; 
}

@media (max-width: 742px) {
  .beltcarousel img {
    height: 100vw;
  }
}

.name {
  display: grid;
  grid-template-rows: repeat(1,1fr);
  padding: 1em;
}

.name h1{
  padding-bottom: .3em;
  border: none;
  font-size: x-large;
  font-weight: 500;
  color: var(--color-text);
  font-family: var(--font-primary);
}

.name h2 {
  font-size: large;
  font-weight: 400;
  padding-bottom: 1em;
}

.name p  {
  padding-bottom: .3em;
  border-bottom: 1px solid var(--main-color);

}

/* kleur kiezen belt */
.color-options {
  display: flex;
  flex-direction: row; 
  padding: 1em;
  gap: 0;
}

.color-options label {
  font-size: large;
  display: flex;
  align-items: center;
  margin-right: 1em; 
  border-bottom: 1px solid var(--main-color);

}

.color-options input[type="radio"] {
  margin-right: .3em;
  
}

.kleur {
  padding-left: 1em;
  font-weight: 400;
  color: var(--color-text);
  font-size: large;
}

/* dit over de maten riem */


.maat ul {
  margin-left: 1em;
  display: flex;
  list-style: none;
  gap: 1em;

}
.maat li {
  flex-direction: column;
  border: 1px solid var(--main-color);
  padding: 1em

}

.maat li:hover {
  color: red;
}

.smol {
  padding-top: 1em;

}

.smol p{
  padding-left: 1em;
  color: red;
}

/* vanaf hier dat rode blok */

.johansbroer{
  background-color: var(--main-color);
  width: 100%;
  display: block;
  padding: 4em 4em 4em;

}

.johansbroer details summary {
  background-color: white;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);

}

.minijohan {
  display: flex;
}

.minijohan li {
  flex-direction: row;
margin-right: 1.5em;
color: white;
}

/* dit gaat over articles van die riemen */

.like h2{
  border: 1px solid var(--main-color);
font-size: xx-large;
color: var(--main-color);
}

.sam {
  display: flex;
  overflow: scroll;

}

.sam li {
  flex-direction: column;
  border: 1px solid var(--main-color);
}

.sam li img {
  height: 25em;
}