/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaBlack.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaExtraBold") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaBold.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaDemiBold.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaMedium.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaRegular.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Neusa";
  src: url("/fonts/NeusaLight.woff") format("woff");
  font-weight: 100;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --main-color: #e4002b;
  --color-text: #111;
  --color-background: #ffff;
  --font-primary: 'Neusa', sans-serif;
}

/****************/
/* JOUW STYLING */
/****************/

* {
  margin: 0;
  padding: 0;
}

header .logo {
  display: flex;
  position: absolute;
  width: 19vw;
  transition: 300ms;
  z-index: 200;

}

/* navigatiebalk  */
nav {
  display: flex;
  right: 0;
  z-index: 100;
  flex-direction: row;
  position: fixed;
  background-color: var(--color-background);
  border: 1px solid var(--main-color);
}

nav button {
  display: flex;
  align-items: center;
  gap: .5em;
  padding: 0;
  background-color: var(--color-background);
  border:none;
  position: relative;
  z-index: 100;
}

nav button img {
  border: 1px solid var(--main-color);
  height: 3em;
}

/* menu dat openklapt in mobiele versie */
nav ul {
  display: flex;
  margin: 0;
  padding: 5em 1em 1em 1em;
  text-decoration: none;
  flex-wrap: wrap;
  align-content: start;
  gap: 0.5em;
  background: var(--color-background);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: flex-end;
  translate: 0% 100%;
  transition: translate 0.5s;
  list-style: none;
}

nav ul a:hover {
  text-decoration: underline;

}

/* als menu op mobiele versie open is */

.toonMenu ul {
  translate: 0%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: x-large;
  background-color: white;
  border: none;
}

.toonMenu a {
  font-size: larger;
  background-color: white;
  display: block;
  padding: .5em;
  text-align: left;
  border: none;
  color: var(--color-text);
  font-family: var(--font-primary)
}

.toonMenu a.active {
  background-color: white;
  border: none;
  margin: 0;
  color: var(--main-color);
  font-family: var(--font-primary)
}

.toonmenu div.containernav {
  display: block;
}

/* dit over grote menu bar */

nav li {
  flex-basis: 20em;
  flex-grow: 1;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
  margin-top: .2em;
  text-decoration: none;
  list-style-type: none;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-family: sans-serif;
  font-size: smaller;

}

nav a img {
  width: auto;
  height: 2.2em;
  padding: 0;
  margin: 0;
}

.containernav {
  display: flex;
  float: left;
}

.containernav a {
  border: 0.5px solid var(--main-color);
  padding: 0;
  height: 2.2em;
  background-color: white;

}

/* dit is die eerste knop in menu bar */
nav a.active {
  margin: .2em;
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
}

@media (min-width:54em) {

  nav {
    order: 0;
  }
  nav button {
    display: none;
  }

  nav ul {
    position: static;
    translate: unset;
    padding: 0;
    background: none;
  }

  nav li {
    flex-basis: unset;
    flex-grow: unset;
  }

  nav a {
    flex-direction: column;
    border: none;
  }

  header>a:last-of-type {
    flex-direction: column;
  }

}
/* mega menu */
/* https://www.w3schools.com/howto/howto_css_mega_menu.asp */
ul:hover div.meganav {
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: 2em;
  max-height: 60vh;
}

.meganav {
  grid-template-columns: 4fr 2fr;
  z-index: 200;
  font-family: sans-serif;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  max-height: 70vh;
}

.first-section {
  font-size: small;
  margin-left: 2em;
  gap: 2em;
  margin-top: 8em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-right: 1px solid lightgrey;
}

.first-section h3 {
  font-size: large;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-weight: 500;
  padding-bottom: 1em;
}

.first-section p {
  padding-top: .5em;
}

.second-section {
  display: grid;
  margin-right: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}


.second-section h3 {
  grid-column: span 2;
  margin-top: 5em;
  text-align: center;
  font-weight: 500;
  font-family: var(--font-primary);
}

.second-section article h4 {
  border: 1px solid var(--main-color);
  font-size: x-small;
  color: var(--main-color);
  padding: .5em;

}

.second-section img {
  border: 1px solid var(--main-color);

  width: 100%;
  height: auto;
}

/* dit gaat over die chat button die op het scherm hoverd */
.floating-image {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 10em;
  height: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: .8;
}

.floating-image:hover {
  opacity: 1;
}

/* begin body */

body {
  font-family: var(--font-primary);
  border: 1px solid red;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: 400;
  z-index: 0;
}

/* https://www.w3schools.com/css/css_background_image.asp */
.main {
  z-index: 50;
  background-image: url('/images/thumbnail.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}


@media (min-width: 742px) {
  .main {
    background-image: url('/images/thumbnaildesktopsize.jpg');
    background-size: cover;
    background-position: center;

  }
}

.main article {
  position: absolute;
  z-index: 1;

  left: 50%;
  top: 50%;
  translate: -50% -50%;
  padding: 1em 5em 1em 1em;
  background-color: var(--color-background);
  border: 1px solid var(--main-color);

}

/* buttons van thumbnail */

h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 400;
  font-size: medium;
  padding-bottom: 1em;
  text-align: start;
}

/* dit gaat basically over alle buttons */

button {
  font-family: sans-serif;
  color: var(--color-background);
  background-color: transparent;
  padding: 1em 2em;
  border: none;
  border: 1px solid var(--main-color);
  position: relative;
}

button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  z-index: -1;
  transition: .5s;
  animation-duration: .5s;
}

/* https://www.cssportal.com/css-clip-path-generator/ */


/* op advies van Quinten met clip path, was eerst width0-width100 -- oud student assistent */
@keyframes buttonAnimation {
  0% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(100% 1%, 100% 0%, 100% 100%, 100% 100%);
  }
}

button:hover {
  color: var(--main-color);
  animation-delay: .3s;
}

button:hover:before {
  animation-name: buttonAnimation;
  animation-fill-mode: forwards;

  animation-duration: .5s;

}

/* twee sections met die plaatjes van modellen */

section.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 1em;
  padding: 2em;
}

.products article {
  position: relative;
  z-index: -1;
}

.products h3 {
  font-weight: 500;
  font-size: x-large;
  display: inline-block;
  border: 1px solid var(--main-color);
  padding: 0.5em;
  color: var(--main-color);
}

.products img {
  border: 1px solid var(--main-color);
  width: 100%;
}

/* tussenstuk vrouw met tas */

.tas {
  background-image: url('/images/person.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blokje {
  background-color: var(--color-background);
  padding: 0em;
  display: flex;
  flex-direction: row;
  gap: 10em;
  align-items: center;
  border: 2px solid var(--main-color);
}

.blokje h3 {
  font-size: large;
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--main-color);
  padding: .5em;

}

.blokje img {
  background-color: var(--main-color);
  border-left: 3px solid var(--main-color);
  width: 3em;

}

/* carousel deel van highlights, niet gelukt om het clickbaar te mkaken met javascript */
.highlights {
  background-color: var(--main-color);
  margin-bottom: 5em;
}

.highlights h2 {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  color: var(--color-background);
  font-size: 3vw;
  font-weight: 500;
}

.carouseldiv {
  display: flex;
  padding: 3em;
  display: flex;
  overflow-x: scroll;
  gap: 2em;
}

.highlights article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.highlights article h3 {
  text-decoration: underline;
  color: var(--main-color);
  background-color: var(--color-background);
  padding: .5em;
  font-size: x-large;
  font-weight: 500;
  border: 1px solid var(--main-color);
  text-decoration: underline;
}

.highlights img {
  height: 30em;
  width: auto;
}


/* laatste section */
.info {
  font-family: sans-serif;
  font-size: x-small;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.info article {
  background-color: var(--color-background);
  margin: 1em;
  padding: 2em;
  color: var(--main-color);
  font-weight: 400;
  font-size: x-small;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  min-width: 25%;
  z-index: 1;
}

h4 {
  font-size: x-large;
  font-weight: 500;
}

.info img {
  max-width: 25em;
  height: auto;
}


/* geeft aan dat die plaatjes weg gaan en die grid veranderd op mobiel */
@media (max-width: 54em) {
  .info {
    grid-template-columns: 1fr;
  }

  .info div img {
    display: none;
  }

}

/* formulier styling */
/* https://www.w3schools.com/css/css_form.asp */

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form label {
  padding-top: .5em;
  font-size: small;
}

form input[type="email"] {
  padding: 0.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: small;
}

fieldset {
  display: flex;
  border: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

input[type="radio"] {
  margin-right: 0.5em;
}

/* knop op plaatje positioneren */
.image-container {
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container button {
  background-color: var(--color-background);
  width: 100%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  font-size: small;
  transition: opacity 0.3s ease;
}

.image-container button:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

/* footer */
.footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
}

@media (max-width: 54em) {
  .footer-menu {
    grid-template-columns: 1fr;
  }

}

/* uitklapende stukjes met summary en details */
.details ul {
  list-style: none
}

.details ul a {
  margin-bottom: 1em;
  display: block;
  font-size: small;
  padding: .8em 2em .2em;
  text-decoration: none;
  color: var(--main-color);
  font-family: sans-serif;
  background-color: var(--color-background);
  list-style: none;
}

summary {
  border: .2px solid var(--main-color);
  list-style: none;
  width: 100%;
  padding: 1.5em;
  color: var(--main-color);
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;

}

.dropdown-trigger {
  width: 100%;
  padding: 1.5em;
  color: var(--main-color);
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;
}


/* onderste deel footer */
svg {
  width: 2em;
  height: 2em;
  margin: 1.6em;
}

.icons,
.icons:nth-of-type(3) {
  display: block;
  text-align: center;
  border: 1px solid var(--main-color);
}

/* nog laatste deel footer */
.taal {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);

}

.taal p {
  flex-direction: column;
  padding: 2em 10em 2em;
  font-family: sans-serif;
  color: var(--main-color);
  font-size: small;
  border-left: 1px solid #e4002b;
}

.copyright {
  padding: 2em;
  font-family: sans-serif;
  color: var(--main-color);
  font-size: small;
}

/* begin tweede pagina */
/* carousel */

.beltcarousel {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  position: relative;
}

.carousel {
  display: flex;
}

.beltcarousel img {
  height: 50vw;
  object-fit: cover;
  width: auto;
}

@media (max-width: 742px) {
  .beltcarousel img {
    width: 100vw;
  }
}

.beltcarousel, 
.sticky {
  margin-bottom: -10em; 
}

/* dat sticky element */
.sticky {
  max-width: 30vw;
  position: sticky;
  top: 5em;
  background-color: white;
  grid-column: 2 / 1;
  padding: 1em;
  border: 1px solid var(--main-color);
  z-index: 10;
  margin-left: 1em;
  margin-top: 10em;
}

h1.name {
  padding-bottom: 0.3em;
  font-size: x-large;
  font-weight: 500;
  color: var(--color-text);
}

.name h2 {
  font-size: large;
  font-weight: 400;
  padding-bottom: 1em;
}

.color-options {

  display: flex;
  flex-direction: row;
  padding: 1em;
}

.kleur {
  border-top: 2px solid var(--main-color);

  font-size: large;
  font-weight: 400;
}

/* size knoppen styling */
.maat ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: .5em;
}

@media (max-width: 742px) {
  .maat ul {
    display: flex;
    flex-wrap: nowrap;
  }
}

.maat li {
  border: 1px solid var(--main-color);
  padding: .5em 1em;
}

.maat li:hover {
  border: 3px solid red;
}

.smol {
  padding-top: 1em;
  color: var(--main-color);
}

.smol p:nth-of-type(3) {
  color: grey;
}

@media (min-width: 742px) {
  .smol p {
    display: flex;
  }

}

button.buy {
align-items: center;  
justify-content: center;
padding-left: 6em;
padding-right: 6em;
margin-top: 1em;
}

/* roodblok section styling */
.roodblok {
margin-top: 10em;
  background-color: var(--main-color);
  padding: 4em;
}

.blokrood {
  display: flex;
  flex-direction: column;
align-items: flex-end;}


.witblok img {
  width: 5em;
  height: auto;
}
.witblok {
  background-color: white;
  padding: 2em;
  font-family: sans-serif;
}

.witblok h4 {
  padding-top: 1em;
padding-left: 1em; 
font-weight: 600;
font-size: medium;

}

.witblok p, .witblok ul li  {
  list-style: none;
  padding-top: 1em;
  padding-left: 1em; 
  font-size: small;

}


.blokrood details summary {
  font-weight: 600;
  font-size: medium;
  margin-right: 15em;
  background-color:whitesmoke;
  border: none;
  color: var(--color-text);
  box-shadow: 2px 2px 10px rgba(180, 180, 180, 0.5);
}

.kleinelist {
  display: flex;
  margin-bottom: 1em;
}

.kleinelist li {
  color: white;
  margin-right: 1.5em;
}



@media (min-width: 742px) {
  
  .detailgrid {
    border: 1px solid var(--main-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    justify-items: start;
  }

}

@media (max-width: 54em) {
  .schuifduif {
    display: flex;
    flex-direction: column;
  }

  .beltcarousel {
    order: 1; 
  }

  .beltcarousel img {
 height: 50em;
    }  

  .sticky {
    border: 2px solid var(--main-color);
    margin: 0;
    order: 2; 
    max-width: 100vw;
      display: block;
      position: static;
  
    
  }

  .roodblok {
    order: 3; 
      margin-top: 0em;
      padding: 2em;

  }

  .like {
    order: 4; 
  }

  .info {
    order: 5;
  }

  .details {
    order: 6; 
  }

  footer {
    order: 7; 
  }

  button.buy {
    display: none;
  }
  
  .detailgrid {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-color);
  }



}

.like {
  margin: 1em;
}

.like h2 {
  margin-top: 1em;
  border: 1px solid var(--main-color);
  font-size: xx-large;
  font-weight: 500;
  color: var(--main-color);
}

.like li {
  list-style: none;
  flex-direction: column;
  border: 1px solid var(--main-color);
  padding: 1em;
}

.like p {
  font-family: sans-serif;
  font-size: small;
  font-weight: 300;

}

.like ul {
  display: flex;
  overflow: scroll;
}

.like li img {
  height: 30em;
}